@component-namespace tm {

  @b publish {
    position: relative;
    background-color: white;

    @e alert {
      position: absolute;
      top: -2rem;
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
      border-radius: 4px;
      box-sizing: border-box;
      transition: all .3s;
    }

    @e header {
      position: relative;
      height: 2.75rem;
      padding: .625rem 1.25rem .625rem 12.5rem;
      line-height: 1.5rem;
      color: #80817f;
      box-sizing: border-box;
    }

    @e title {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      margin: 0;
      padding: .625rem 2.75rem .625rem 1.25rem;
      font-size: 1.25rem;
      color: white;
      background-color: rgba(3,102,214,.5);
      box-sizing: border-box;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        triangle: 1.375rem left white;
      }
    }

    @e count {
      color: #181817;
    }

    @e notice {
      float: right;
      width: 15rem;
      text-align: right;
    }

    @e form {
      margin-top: 1rem;
      padding: 0 1.25rem 1.25rem;
    }

    @e textarea {
      display: block;
      width: 100%;
      padding: .375rem 1rem;
      line-height: 1.4286;
      font-size: .875rem;
      color: #525251;
      border: .0625rem solid #dededd;
      box-shadow: inset 1px 1px 5px rgba(0,0,0,.1);
      box-sizing: border-box;
    }

    @e footer {
      margin-top: 1rem;
      font-size: 0;
      @utils-clearfix;
    }

    @e fields {
      float: right;
      max-width: 90%;
      display: flex;
    }

    @e field {
      display: inline-block;
      margin-left: 1rem;
    }

    @e control {
      width: 17.5rem;
      height: 2.12502rem;
      padding: .375rem 1rem;
      line-height: 1.4268;
      font-size: .83rem;
      color: #525251;
      border: .0625rem solid #dededd;
      box-sizing: border-box;

      &:focus {
        box-shadow: inset 1px 1px 5px rgba(0,0,0,.1);
      }
    }

    @e btn {
      position: relative;
      width: 6rem;
      height: 2.125rem;
      line-height: 1.4286;
      padding: .375rem 1rem;
      font-size: .875rem;
      color: white;
      border: .0625rem solid #6bc30d;
      background-color: #6bc30d;
      outline: 0;

      @when disabled {

        &:after {
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          bottom: -1px;
          right: -1px;
          cursor: not-allowed;
          background-color: hsla(0,0%,100%,.5);
        }
      }
    }
  }
}

@media (max-width: 880px) {
  @component-namespace tm {

    @b publish {

      @e control {
        width: 100%;
      }
    }
  }
}

@media (max-width: 640px) {
  @component-namespace tm {

    @b publish {

      @e fields {
        display: block;
        width: 100%;
        max-width: 100%;
      }

      @e field {
        width: 100%;
        margin: 0 0 .5rem;
      }

      @e btn {
        width: 100%;
      }

      @e notice {
        display: none;
      }
    }
  }
}
