@component-namespace tm {

  @b timeline {
    position: relative;
    padding:1.25rem 0;
    overflow: hidden;
    /*@utils-clearfix;*/

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: .25rem;
      margin-left: -.125rem;
      background-color: #dededd;
    }

    @e box {
      float: left;
      width: 50%;
      padding-right: 4rem;
      padding-bottom: 1.25rem;
      box-sizing: border-box;

      @when right {
        padding-right: 0;
        left: 50%;
        padding-left: 4rem;

        .tm-timeline__message {

          &:before {
             content: "";
             position: absolute;
             top: 3rem;
             left: -2rem;
             triangle: 1rem left white;
           }

          &:after {
             content: "";
             position: absolute;
             top: 3.625rem;
             left: -4.375rem;
             size: .75rem;
             background-color: #6bc30d;
             border-radius: 50%;
             box-shadow: 0 0 0 0.25rem #fff;
          }
        }
      }
    }

    @e message {
      position: relative;
      padding: 1.25rem;
      background-color: white;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

      &:before {
         content: "";
         position: absolute;
         top: 3rem;
         right: -2rem;
         triangle: 1rem right white;
       }

      &:after {
         content: "";
         position: absolute;
         top: 3.625rem;
         right: -4.375rem;
         size: .75rem;
         background-color: #6bc30d;
         border-radius: 50%;
         box-shadow: 0 0 0 0.25rem #fff;
      }
    }

    @e title {
      font-size: .8125rem;
      color: #9c9d9b;
      @utils-clearfix ;
    }

    @e nickname {
      float: left;
      max-width: 50%;
      font-size: 1rem;
      font-weight: 500;
      color: #6bc30d;
      text-transform: uppercase;
      @utils-ellipsis ;
    }

    @e info {
      float: right;
    }

    @e content {
      margin: 1rem 0;

      img {
        display: inline;
        margin: 0 .3125rem;
        min-height: 1.25rem;
        vertical-align: middle;
        border: none;
      }
    }

    @e position {
      font-size: .8125rem;
      color: #9c9d9b;
    }

    @e reply {
      margin-top: .5rem;
      padding-top: 1rem;
      border-top: 1px solid #dededd;
      color: #80817f;
    }

    @e reply-text {
      font-weight: 500;
      color: #181817;
    }

    @e reply-content {

      img {
        display: inline;
        min-height: 1.25rem;
        vertical-align: middle;
        margin: 0px 0.3125rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  @component-namespace tm {

    @b timeline {

      @e box {
        padding-right: 2.5rem;

        @when right {
          padding-left: 2.5rem;

          .tm-timeline__message {

            &:after {
               left: -2.785rem;
            }
          }
        }
      }

      @e message {

        &:after {
          right: -2.875rem;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  @component-namespace tm {

    @b timeline {

      &:before {
        display: none;
      }

      @e box {
        width: 100%;
        padding-right: 0;

        @when right {
          left: 0;
          padding-left: 0;

          .tm-timeline__message {

            &:before,
            &:after {
               display: none;
            }
          }
        }
      }

      @e message {
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
}
