extends ../layout

block content
  .container
    div.jumbotron
      h1 Sorry
      p 什么都没找到 ，去听首歌吧
      p
        a.btn.btn-primary.btn-lg(href='http://music-player.react.gusaifei.com/', role='button', target='_blank') Music Player
  script(src='/js/admin.js')
