@import "./common/normalize.scss";
@import "./common/var.scss";
@import "./common/icon.scss";


html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #525251;
  background-color: #efefee;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #525251;
}

input,
select,
textarea {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0
}

#app {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
