@component-namespace mt {

  @b message {
    position: relative;
    max-width: 80rem;
    min-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;

    @e pagination {
      margin: 1rem 0;
      text-align: center;
    }

    @e loading {
      margin-top: 200px;
    }

    @e empty {
      padding: 100px 0;
      text-align: center;
    }
  }
}

@media (max-width: 85.375rem) {
  @component-namespace mt {

    @b message {
      max-width:71.25rem
    }
  }
}

@media (max-width: 64rem) {
  @component-namespace mt {

    @b message {
      max-width:53.75rem
    }
  }
}

@media (max-width: 55rem) {
  @component-namespace mt {

    @b message {
      max-width:43.125rem
    }
  }
}
